/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #8d9f8b;
}

.timer {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.timeInputs input{
    width: 45px;
    font-size: 40px;
    text-align: center;
    border-style: none;
    background-color: gainsboro;
    border-radius: 30%;
}

.timeInputs {
    padding-bottom: 20px;
}


.timeDisplay {
    font-size: 40px;
    margin: 20px ;
    display: none;
    
}

.buttons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start {
    background-color: #4CAF50;
    color: white;
}

#stop {
    background-color: #f44336;
    color: white;
}

#reset {
    background-color: #2196F3;
    color: white;
}
